<!-- interpolation binding -->
 <!-- for string values  -->
<h1> welcome to {{name}} to become {{role}}</h1>

<!-- property binding  -->
 <!-- for boolean values -->
 <!-- property binding is one way mechanism that that ets you to set the proprty to view elemenet
  
 propert binding use [] syntax for data binding-->


 <img [src]="image" alt="" style="height:100px; width: 250px; " class="center"/>



 <!-- Event binding  -->

 <!-- when the inforamtion flows from view to the component when the event is triggered such as event can be mouuse click or key press  -->

 <br>
 <div style="text-align: center;"> <button (click)="onClick()">subscribe to get more inforamtion </button></div>


 <!-- two way data binding -->
  <!-- data flows from componet to view and back -->
<!-- compone t and view is always in sync the chnages made will be reflected in both side -->
  <!-- it is typically used in form where any chnages need to be reflected in both the component and view  view  -->

  <br>
  <input [(ngModel)]="value" type="text" name="" id="" class="center">
  {{value}}
